.container-dashboard {
    height: calc(100vh - var(--height-navbar));
    display: flex;
    flex-direction: row;
}

.menu-section-dashboard {
    width: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--container-lv1-color);
}

.group-items-dashboard {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.item-menu-dashboard {
    padding: 10px 20px;
    color: var(--title-color);
    background-color: var(--container-lv1-color);
    border: 2px var(--border-color) solid;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    user-select: none;
    transition: background-color 0.3s, color 0.3s;
}
.item-menu-dashboard:hover {
    background-color: var(--container-lv2-color);
    border: 3px var(--border-color) solid;
}
.item-active-menu-dashboard {
    background-color: var(--container-lv2-color);
    border: 3px var(--main-color ) solid;
    color: var(--main-color )
}

.content-section-dashboard {
    padding: 2rem;
    margin-top: 2rem;
    flex: 1;
    justify-content: center;
}

.title_section_content {
    font-family: freeline;
    font-size: 2rem;
    font-weight: bold;
    color: var(--title-color);
    text-align: center;
}


/* Estilos para pantallas de hasta 600px 
@media screen and (max-width: 600px) {*/

/* Estilos para pantallas entre 601px y 1200px 
@media screen and (min-width: 601px) and (max-width: 1200px) {*/
@media screen and (max-width: 1200px) {
    .container-dashboard {
        flex-direction: column;
    }

    .menu-section-dashboard {
        width: 100%;
        margin-top: 3rem;
    }

    .group-items-dashboard {
        flex-direction: row;
        width: auto;
    }

    .item-menu-dashboard {
        width: 10rem;
    }
}
