.section-col-infocmd {
    padding-left: 1rem;
    padding-right: 2rem;
}

.title-fl {
    font-size: 30px;
    display: block;
    font-weight: bold;
    color: var(--main-color);
    margin-left: 5px;
}

.desc-infocmd {
    display: block;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.variable-label {
    font-size: 18px;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.variable-container {
    background: var(--container-lv1-color);
    border: 2px solid var(--border-color);
    border-radius: 0.25rem;
    overflow: auto; /* Como se comporta cuando el contenido desborda el contenedor */
    white-space: pre; /* Sirve para no quitar los space, tab, saltos de linea, etc */
    margin: 1rem 0rem;
    padding: 1rem 2rem;
}

