.grid-section-project {
    flex: 1;
    padding: 1rem;
    overflow-y: auto;
}

.section-new-project {
    width: 100%;
    height: 6rem;
    background-color: var(--body-color);

    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: 2rem 3rem;

    cursor: pointer;
    user-select: none;
    border: 2px var(--border-color) solid;
    border-radius: 1rem;

    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;

    color: var(--title-color);

    transition: transform 0.3s ease;

    box-shadow: 0px 0px 10px 5px rgba(82,110,122,0.2);
}
.section-new-project:hover {
    background-color: var(--container-lv1-color);
}

.content-new-project{
    display: flex;
    text-align: center;
    
    justify-content: space-between;
    
}

.icon-new-project {
    width: 1.5rem;
    height: 1.5rem;
    display: inline;
    
}

.title-new-project {
    display: inline;
    margin-left: 1rem;
    font-size: 1.2rem;
}