.row-cat-menu {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    background-color: var(--container-lv1-color);
    border-radius: 1rem;
    padding: 1rem;

    box-shadow: rgba(255, 255, 255, 0.3) 3px 3px 8px;
}


.section-cat {
    box-sizing: border-box;
    padding: 1rem;
}

.title-cat {
    font-size: 1.4rem;
    font-weight: bold;
    
    margin: 3rem 2rem;
    text-align: center;
    
}

.descrip-cat {
    display: block;
    padding-left: 3rem;
    padding-right: 3rem ;
    margin-top: 4rem;
    margin-bottom: 3rem;
    font-family: helvetica-now, sans-serif;
}


.section-command {
    padding: 0.5rem;
}