:root{
    --main-color            : #3DADE0;
    --title-color           : #EFF3F5;
    --text-color            : #C8CDD0;
    --light-text-color      : #5FA9CB;
    --border-color          : #526E7A;
    --container-lv1-color   : #2D3233;
    --container-lv2-color   : #343A3B;
    --container-lv3-color   : #3B4142;
    --body-color            : #282D2E;
    --warning-color         : #DF963C;
    --danger-color          : #E03D52;
    --success-color         : #3DE0BB;

    --height-navbar         : 60px;

    --scroll-size           : 5px;
    --scroll-radius         : 10px;
    --scroll-track          : rgb(255 255 255 / 10%);
    --scroll-thumb-color    : #fff;
}


/*
    Familias de fuestes de caracteres
*/
@font-face {
    font-family: 'helvetica-now';
    src: url('./assets/fonts/HelveticaNow/HelveticaNow.ttf') format('truetype');
}

@font-face {
    font-family: 'freeline';
    src: url('./assets/fonts/FreeLine/FreeLine.ttf') format('truetype');
}

@font-face {
    font-family: 'identify';
    src: url('./assets/fonts/Identify/Identify.ttf') format('truetype');
}

@font-face {
    font-family: 'eurostile';
    src: url('./assets/fonts/Eurostile/eurostile.otf') format('truetype');
}

@font-face {
    font-family: 'oleto';
    src: url('./assets/fonts/oleto/Oleto.ttf') format('truetype');
}


/*
    Body
*/
body {
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;

    background-color: var(--body-color);
    color: var(--text-color);
    font-family: helvetica-now, sans-serif;
}

/*
    Scrollbars
*/
*::-webkit-scrollbar {
    width: var(--scroll-size, 10px);
    height: var(--scroll-size, 10px);
}
*::-webkit-scrollbar-track {
    background-color: var(--scroll-track, transparent);
    border-radius: var(--scroll-track-radius, var(--scroll-radius));
}
*::-webkit-scrollbar-thumb {
    background-color: var(--scroll-thumb-color, grey);
    background-image: var(--scroll-thumb, none);
    border-radius: var(--scroll-thumb-radius, var(--scroll-radius));
}


/*
    Textos
*/
.title-fl {
    font-family: freeline, sans-serif;
    color: var(--title-color);
}


/*
    Tabla
*/
.table th {
    color: var(--light-text-color);
}


/*
    Inputs
*/
.form-control,
.form-control:active,
.form-select,
.form-select:active {
    background-color: var(--container-lv3-color);
    color: var(--text-color);
    border-color: var(--border-color);
}

.form-control:focus,
.form-select:focus {
    background-color: var(--container-lv3-color);
    color: var(--text-color);
    border-color: var(--border-color);
    box-shadow: 0 0 0 0.1rem var(--border-color);
}

.form-control:disabled,
.form-select:disabled {
    background-color: var(--container-lv1-color);
    color: var(--text-color);
    border-color: var(--border-color);
}

.form-floating.form-hero 
.form-control~label {
    color: var(--title-color);
}

.form-floating.form-hero 
.form-control~label::after {
    background-color: transparent;
}

.form-text {
    color: var(--danger-color);
    text-align: left;
}

/* Estilos para autofill */
.form-control:-webkit-autofill,
.form-control:-webkit-autofill:hover, 
.form-control:-webkit-autofill:focus, 
.form-control:-webkit-autofill:active {
    background-color: var(--container-lv3-color) !important;
    color: var(--text-color) !important;
    border-color: var(--border-color) !important;
}


/*
    Margenes
*/
.margin-top-page-start {
    margin-top: 10vh;
}

.margin-top-1 {
    margin-top: 3rem;
}

.margin-top-2 {
    margin-top: 2rem;
}

.margin_bottom_1 {
    margin-bottom: 1rem;
}


/*
    Botones
*/
.btn-default {
    height: 2.2rem;

    background-color: transparent;
    color: var(--main-color);
    border-color: var(--main-color);

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.btn-default:hover {
    background-color: var(--main-color);
    color: var(--title-color);
}
.btn-default:disabled {
    background-color: rgba(61, 173, 224, 0.8);
    color: var(--title-color);
    border-color: rgba(61, 173, 224, 0.8);
}

.btn-confirm {
    height: 2.2rem;

    background-color: transparent;
    color: var(--success-color );
    border-color: var(--success-color );

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.btn-confirm:hover {
    background-color: var(--success-color );
    color: var(--title-color);
}

.btn-warning {
    height: 2.2rem;

    background-color: transparent;
    color: var(--warning-color);
    border-color: var(--warning-color);

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.btn-warning:hover {
    background-color: var(--warning-color);
    color: var(--title-color);
}

.btn-danger {
    height: 2.2rem;

    background-color: transparent;
    color: var(--danger-color);
    border-color: var(--danger-color);

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.btn-danger:hover {
    background-color: var(--danger-color);
    color: var(--title-color);
}

.btn-default-big {
    display: inline-block;
    padding: 15px 30px; /* Espaciado interno */

    background-color: var(--main-color); /* Color de fondo personalizado (azul) */
    color: var(--title-color); /* Color del texto */
    
    border: none; /* Sin borde */
    border-radius: 50px; /* Borde redondeado */

    text-align: center; /* Alineación de texto al centro */
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */

    /*font-size: 16px;  Tamaño de fuente */
}

.btn-default-big:hover {
    background-color: #2D80A6; /* Cambia el color de fondo en el hover */
}


/* 
    Elementos que forman parte de los cuadros de codigo para mostrar el cmd
*/

.height-page-block {
    display: flex;
    flex-direction: column;
    height: 90vh;
}


/*

*/
.line-item-icon-text {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.icon-item {
    width: 1rem;
    height: 1rem;

    display: flex;
    justify-content: center;
    align-items: center;
}

.title-item {
    margin-left: 0.5rem;
}